// footer start
if footer_dark
  footer.footer.footer-dark
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 © 2022 منصة نوى. جميع الحقوق محفوظة.

else if footer_fix
  footer.footer.footer-fix
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 © 2022 منصة نوى. جميع الحقوق محفوظة.
else
  footer.footer
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 © 2022 منصة نوى. جميع الحقوق محفوظة.

