// Page Header Start
.page-main-header
  .main-header-right.row.m-0
      .main-header-left
          .logo-wrapper
              a(href='../../index.html')
                  img(src='../assets/images/logo/noa-individual-logo.png', height='70px', alt='')
          .dark-logo-wrapper
            a(href='../../index.html')
              img(src='../assets/images/logo/noa-individual-logo.png', height='70px', alt='')
          .toggle-sidebar
            i.status_toggle.middle(data-feather='align-center')#sidebar-toggle
      .left-menu-header.col
        ul
          li
            form.form-inline.search-form
              .search-bg
                i.fa.fa-search
                input.form-control-plaintext(placeholder='البحث السريع ...')
            span.d-sm-none.mobile-search.search-bg
              i.fa.fa-search
      .nav-right.col.pull-right.right-menu.p-0
          if megamenu
              include megamenu
          ul.nav-menus
              li
                a.text-dark(href='#!', onclick='javascript:toggleFullScreen()')
                    i(data-feather='maximize') 
              li.onhover-dropdown
                  .notification-box
                    i(data-feather='bell')
                    span.dot-animated
                  ul.notification-dropdown.onhover-show-div
                      li.bg-light-success
                        p.f-w-700.mb-0 لديك 3 تنبيهات جديدة
                          span.pull-right.badge.badge-primary.badge-pill 4
                      li.noti-primary
                        .media
                          span.notification-bg.bg-light-primary
                            i(data-feather='activity') 
                          .media-body
                            p تم تحديث حالة الطلب : تأسيس منظمة
                            span 13/05/2022
                      li.noti-secondary
                        .media
                          span.notification-bg.bg-light-secondary
                            i(data-feather='check-circle') 
                          .media-body
                            p تم إضافتك كعضو في منظمة : جمعية التحول التقني
                            span 11/05/2022
                      li.noti-success
                        .media
                          span.notification-bg.bg-light-success
                            i(data-feather='file-text') 
                          .media-body
                            p تم تجديد شهادة تأسيس الجمعية : جمعية التحول التقني
                            span 13/02/2022
                      li.noti-danger
                        .media
                          span.notification-bg.bg-light-danger
                            i(data-feather='user-check') 
                          .media-body
                            p تم تغيير كلمة المرور
                            span 10/10/2021
              li
                .mode
                  i.fa.fa-moon-o

                //- i.mode-moon(data-feather='moon')
                //-   i.mode-sun(data-feather='sun')   
              li.onhover-dropdown.p-0
                  button.btn.btn-primary-light(type="button")
                    a(href="../../index.html")
                      i(data-feather="log-out")
                      | خروج
      .d-lg-none.mobile-toggle.pull-right.w-auto
          i(data-feather='more-horizontal')
// Page Header Ends                              