- var theme_customizer      = false;
- var photo_swipe           = false;
- var sidebar               = true;
- var scrollbar             = true;

doctype html
html(lang='ar' dir='rtl')
    include ../../components/header-files
    body.rtl
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper.modern-sidebar
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                      .page-header
                        .row
                          .col-sm-6
                              h3
                                | تقديم طلب تأسيس
                              ol.breadcrumb
                                li.breadcrumb-item
                                  a(href='index.html')
                                   | لوحة التحكم
                                li.breadcrumb-item التأسيس   
                                li.breadcrumb-item.active تقديم طلب تأسيس
                    // Container-fluid starts
                    .container-fluid
                      .user-profile.social-app-profile
                        .row 
                          .col-sm-12
                            .card.profile-header.bg-overlay
                              img.img-fluid.bg-img-cover(src="../assets/images/user-profile/bg-profile.jpg" , alt="")
                              .profile-img-wrrap
                                img.img-fluid.bg-img-cover(src="../assets/images/user-profile/bg-profile.jpg" , alt="")
                              .row
                              .col-md-4
                                .card.ecommerce-widget.pro-gress
                                  .card-body.support-ticket-font
                                    .row
                                      .col-7
                                        h6 الطلب السابق
                                        h4 تأسيس جمعية أهلية
                                      .col-5
                                        .text-md-end
                                          ul
                                            li
                                              | الحالة :
                                              span.product-stts.txt-danger.ms-2
                                                | غير مكتمل
                                    .progress-showcase.mb-3
                                      .progress
                                        .progress-bar-animated.progress-bar-striped.bg-primary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                                    .text-md-end
                                      a.btn.btn-primary(href='#')
                                        | إكمال الطلب
                          .col-sm-12.box-col-12
                            .row              
                              .col-xl-4.xl-100.box-col-6
                                .card.features-faq.product-box
                                  .card-header.bg-primary.d-flex.justify-content-between.align-items-center
                                    a.text-white(href="#")
                                      h6 تأسيس جمعية أهلية
                                  .card-body
                                    p
                                      |  تتيح هذه الخدمة للمواطنين أو الجهات الاعتبارية تأسيس جمعية أهلية دون الحاجة إلى مراجعة المركز… .
                                  .card-footer
                                    a.btn.btn-secondary(href='#')
                                      | بدء الخدمة
                                    ul.pull-right
                                      li
                                        span التقييم :
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                              .col-xl-4.xl-100.box-col-6
                                .card.features-faq.product-box
                                  .card-header.bg-primary.d-flex.justify-content-between.align-items-center
                                    a.text-white(href="#")
                                      h6 تأسيس مؤسسة أهلية
                                  .card-body
                                    p
                                      |  تتيح هذه الخدمة للمواطنين أو الجهات الاعتبارية تأسيس مؤسسة أهلية دون الحاجة إلى مراجعة المركز…
                                  .card-footer
                                    a.btn.btn-secondary(href='#')
                                      | بدء الخدمة
                                    ul.pull-right
                                      li
                                        span التقييم :
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                              .col-xl-4.xl-100.box-col-6
                                .card.features-faq.product-box
                                  .card-header.bg-primary.d-flex.justify-content-between.align-items-center
                                    a.text-white(href="#")
                                      h6 تأسيس صندوق عائلي
                                  .card-body
                                    p
                                      |  تتيح هذه الخدمه للمواطنين تأسيس الصناديق العائلية لتعزيز صلة الرحم ، وبث روح التكافل والتآلف….
                                  .card-footer
                                    a.btn.btn-secondary(href='#')
                                      | بدء الخدمة
                                    ul.pull-right
                                      li
                                        span التقييم :
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary
                                      li
                                        i.fa.fa-star.font-primary

                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files

