- var vector_map            = false;
- var apex                  = false;
- var theme_customizer      = false;
- var tooltip               = false;
- var dashboard_default     = false;
- var notify                = true;
- var animate               = true;
- var customcard            = false;
- var chartjs               = true;
- var home_chartjs          = true;
- var sidebar               = true;
- var scrollbar             = true;
- var footer_fix            = true;





doctype html
html(lang='ar' dir="rtl")
    include ../../components/header-files
    body.rtl.dark-sidebar
        include ../../components/loader
        // page-wrapper Start       
        #pageWrapper.page-wrapper.compact-sidebar
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    // Container-fluid starts
                    .container-fluid.dashboard-default-sec
                      .row
                        .col-xl-12.box-col-12.des-xl-100 
                          .row
                            .col-xl-12.des-xl-100.h-100
                              .card.profile-greeting
                                .card-header
                                  .header-top
                                .card-body.text-start.p-t-0.d-flex.w-100.justify-content-between
                                  .right-welcome-text
                                    h3.font-light صباح الخير، خالد  !
                                    p.text-start للحصول على أحدث البيانات انقر على " تحديث " 
                                  .left-welcome-text
                                    button.btn.btn-light.mt-5 تحديث
                                .confetti
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .code-box-copy
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white الطلبات
                            .card-body
                              .row
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart2
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart3
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart4
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart5
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2.mt-2
                                  canvas#chart6
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التطوع
                            .card-body.row.justify-content-center.pb-0
                              .row
                                .col-12.col-xs-6.col-sm-3.col-md-3.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 80
                                          p
                                            | ساعات التطوع
                                        i(data-feather="clock")
                                .col-12.col-xs-6.col-sm-3.col-md-3.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 18
                                          p
                                            | الفرص المنجزة
                                        i(data-feather="check")
                                .col-12.col-xs-6.col-sm-3.col-md-3.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 11
                                          p
                                            | الفرص المسجلة
                                        i(data-feather='git-pull-request')
                                .col-12.col-xs-6.col-sm-3.col-md-3.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 10
                                          p
                                            | عدد المنظمات
                                        i(data-feather='layers')
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التبرعات
                            .card-body.row.pb-1.justify-content-center
                              .row
                                .col-sm-12.col-xl-12.col-lg-12
                                  .browser-widget
                                    .media
                                      .media-img.me-3
                                        img(src='../assets/images/label1.png', alt='' height="200px")
                                      .media-body.row
                                        .col-sm-4.card.o-hidden.border-0.mb-0.mt-2
                                          .card.income-card.card-primary.mb-0                                    
                                              .card-body.text-center.py-1
                                                .round-box.mb-2
                                                  i.icon-bg.light-dark(data-feather='package' style="fill:none;")
                                                h5 25
                                                p عملية تبرع
                                                .parrten
                                                  i.icon-bg.text-light(data-feather='package' style="fill:none;")
                                        .col-sm-4.card.o-hidden.border-0.mb-0.mt-2
                                          .card.income-card.card-primary.mb-0                                 
                                              .card-body.text-center.py-1                                   
                                                .round-box.mb-2
                                                  span ر.س
                                                h5 8,50,49
                                                p إجمالي التبرعات
                                                .parrten
                                                  span ر.س
                                        .col-sm-4.card.border-0.mb-0.mt-2
                                          .card.bg-primary
                                            .card-header.shadow
                                              .header-top.d-sm-flex.justify-content-between.align-items-center
                                                h5 عملية التبرع الأخيرة
                                            .card-body.py-4
                                              .media
                                                .media-body
                                                  p.text-light.f-14.fw-bold المبلغ :
                                                    span.ms-2.text-light 2500 
                                                    | ر.س 
                                                  p.text-light.f-14.fw-bold التاريخ :
                                                    span.ms-2.text-light 20/05/2022 - 10:20
                                                    | م
                                                  p.text-light.f-14.fw-bold الجهة :
                                                    span.ms-2.text-light منصة تبرع
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white الانتساب
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          <i data-feather="home"></i>
                                        .media-body
                                          span.m-0 عدد المنظمات
                                          h4.mb-0.counter 12
                                          i.icon-bg(data-feather='home')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="calendar")
                                        .media-body
                                          span.m-0 مدة الاشتراك
                                          h4.mb-0.counter 9
                                          i.icon-bg(data-feather='calendar')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="users")
                                        .media-body
                                          span.m-0 عدد العضويات
                                          h4.mb-0.counter 9
                                          i.icon-bg(data-feather='users')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="clipboard")
                                        .media-body
                                          span.m-0 عدد التفاويض
                                          h4.mb-0.counter 9
                                          i.icon-bg(data-feather='clipboard')
                    // Container-fluid Ends
                include ../../components/footer        
        include ../../components/footer-files