- var vector_map            = false;
- var apex                  = false;
- var theme_customizer      = false;
- var tooltip               = false;
- var dashboard_default     = false;
- var notify                = true;
- var animate               = true;
- var customcard            = false;
- var morrischart           = true;
- var home_morrischart      = true;
- var sidebar               = true;
- var scrollbar             = true;

doctype html
html(lang='ar' dir="rtl")
    include ../../components/header-files
    body.rtl.dark-sidebar
        include ../../components/loader
        // page-wrapper Start       
        #pageWrapper.page-wrapper.compact-sidebar
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    // Container-fluid starts
                    .container-fluid.dashboard-default-sec
                      .row
                        .col-xl-12.box-col-12.des-xl-100 
                          .row
                            .col-xl-7.col-md-7.box-col-7.des-xl-50.h-100
                              .card.profile-greeting
                                .card-header
                                  .header-top
                                .card-body.text-start.p-t-0
                                  h3.font-light صباح الخير، خالد  !
                                  p.text-start للحصول على أحدث البيانات انقر على " تحديث " 
                                  button.btn.btn-light.mt-5 تحديث
                                .confetti
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .code-box-copy
                            .col-xl-5.col-md-5.box-col-5.des-xl-50
                              .card.card-absolute
                                .card-header.bg-primary.shadow
                                  h5.text-white خدمات المنظمات
                                .card-body.row.justify-content-between
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') خدمات التأسيس
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') خدمات المنح
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') خدمات التراخيص
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') البرامج والمشاريع 
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') ممكنات المنظمة
                                  .col-lg-6
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') موقع المنظمة
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white الطلبات
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-12.col-xl-8
                                  .row
                                    .col-sm-12.col-xl-12
                                      .card
                                        .card-body.chart-block
                                          .flot-chart-container
                                            #stacked-bar-chart.flot-chart-placeholder
                                    .col-sm-12.col-xl-12.top-sell-sec
                                      .card
                                        .card-header.shadow
                                          .header-top.d-sm-flex.justify-content-between.align-items-center
                                            h5 إجمالي الطلبات
                                        .card-body.row
                                          .card.o-hidden.border-0.mb-1.col-lg-4
                                            .bg-primary.b-r-4.card-body.p-1
                                              .media.static-top-widget
                                                .align-self-center.text-center
                                                  i(data-feather='layers')
                                                .media-body.ps-0
                                                  span.m-0 طلبات الاستعلام
                                                  h4.mb-0.counter 4531
                                                  i.icon-bg(data-feather='layers')
                                          .card.o-hidden.border-0.mb-1.col-lg-4
                                            .bg-primary.b-r-4.card-body.p-1
                                              .media.static-top-widget
                                                .align-self-center.text-center
                                                  i(data-feather='layers')
                                                .media-body.ps-0
                                                  span.m-0 طلبات الانتساب
                                                  h4.mb-0.counter 4531
                                                  i.icon-bg(data-feather='layers')
                                          .card.o-hidden.border-0.mb-1.col-lg-4
                                            .bg-primary.b-r-4.card-body.p-1
                                              .media.static-top-widget
                                                .align-self-center.text-center
                                                  i(data-feather='layers')
                                                .media-body.ps-0
                                                  span.m-0 طلبات التراخيص
                                                  h4.mb-0.counter 4531
                                                  i.icon-bg(data-feather='layers')

                                .col-sm-12.col-xl-4.top-sell-sec
                                  .card
                                    .card-header.shadow
                                      .header-top.d-sm-flex.justify-content-between.align-items-center
                                        h5 الطلبات الأخيرة
                                    .card-body
                                      .media
                                        .media-body
                                          a(href='#')
                                            h6 تجديد رخصة مهنية
                                          ul
                                            li                                       
                                              i 10/05/2022
                                            li
                                              i
                                                span.badge.rounded-pill.pill-badge-success مقبولة

                                        a.btn.btn-iconsolid(href="#")
                                          i.icon-eye
                                      .media.mt-2
                                        .media-body
                                          a(href='#')
                                            h6 انتساب لمنظمة
                                          ul
                                            li                                       
                                              i 10/05/2022
                                            li
                                              i
                                                span.badge.rounded-pill.pill-badge-warning بانتظار السداد

                                        a.btn.btn-iconsolid(href="#")
                                          i.icon-eye
                                      .media.mt-2
                                        .media-body
                                          a(href='#')
                                            h6 إلغاء انتساب لمنظمة
                                          ul
                                            li                                       
                                              i 10/05/2022
                                            li
                                              i
                                                span.badge.rounded-pill.pill-badge-danger مشطوبة

                                        a.btn.btn-iconsolid(href="#")
                                          i.icon-eye
                                      button.w-100.mt-2.btn.btn-outline-primary-2x(type='button') عرض جميع الطلبات
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التطوع
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          <i data-feather="clock"></i>
                                        .media-body
                                          span.m-0 ساعات التطوع
                                          h4.mb-0.counter 88
                                          i.icon-bg(data-feather='clock')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="check")
                                        .media-body
                                          span.m-0 الفرص المنجزة
                                          h4.mb-0.counter 18
                                          i.icon-bg(data-feather='check')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather='git-pull-request')
                                        .media-body
                                          span.m-0 الفرص المسجلة
                                          h4.mb-0.counter 11
                                          i.icon-bg(data-feather='git-pull-request')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather='layers')
                                        .media-body
                                          span.m-0 عدد المنظمات
                                          h4.mb-0.counter 10
                                          i.icon-bg(data-feather='layers')
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التبرعات
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-12.col-xl-12.col-lg-12
                                  .browser-widget
                                    .media
                                      .media-img.me-3
                                        img(src='../assets/images/label1.png', alt='' height="200px")
                                      .media-body.row
                                        .col-sm-4.card.o-hidden.border-0.mb-0
                                          .card.income-card.card-primary.mb-0                                    
                                              .card-body.text-center
                                                .round-box
                                                  i.icon-bg.light-dark(data-feather='package' style="fill:none;")
                                                h5 25
                                                p عملية تبرع
                                                .parrten
                                                  i.icon-bg.text-light(data-feather='package' style="fill:none;")
                                        .col-sm-4.card.o-hidden.border-0.mb-0
                                          .card.income-card.card-primary.mb-0                                 
                                              .card-body.text-center                                   
                                                .round-box
                                                  i.icon-bg.text-light-dark(data-feather='dollar-sign' style="fill:none;")
                                                h5 8,50,49
                                                p إجمالي التبرعات
                                                .parrten
                                                  i.icon-bg.text-light(data-feather='dollar-sign' style="fill:none;")
                                        .col-sm-4.card.border-0.mb-0
                                          .card
                                            .card-header.shadow
                                              .header-top.d-sm-flex.justify-content-between.align-items-center
                                                h5 عملية التبرع الأخيرة
                                            .card-body.bg-primary
                                              .media
                                                .media-body
                                                  p.text-light.f-16.fw-bold المبلغ :
                                                    span.ms-2.text-light 2500 
                                                    | ر.س 
                                                  p.text-light.f-16.fw-bold التاريخ :
                                                    span.ms-2.text-light 20/05/2022 - 10:20
                                                    | م
                                                  p.text-light.f-16.fw-bold الجهة :
                                                    span.ms-2.text-light منصة تبرع
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white الانتساب
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          <i data-feather="home"></i>
                                        .media-body
                                          span.m-0 عدد المنظمات
                                          h4.mb-0.counter 12
                                          i.icon-bg(data-feather='home')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="calendar")
                                        .media-body
                                          span.m-0 عدد السنوات
                                          h4.mb-0.counter 9
                                          i.icon-bg(data-feather='calendar')
                    // Container-fluid Ends
                include ../../components/footer        
        include ../../components/footer-files