- var vector_map            = false;
- var apex                  = false;
- var theme_customizer      = false;
- var tooltip               = false;
- var dashboard_default     = false;
- var notify                = true;
- var animate               = true;
- var customcard            = false;
- var chartjs               = true;
- var home_chartjs          = true;
- var sidebar               = true;
- var scrollbar             = true;
- var footer_fix            = true;



doctype html
html(lang='ar' dir="rtl")
    include ../../components/header-files
    body.rtl.dark-sidebar
        include ../../components/loader
        // page-wrapper Start       
        #pageWrapper.page-wrapper.compact-sidebar
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    // Container-fluid starts
                    .container-fluid.dashboard-default-sec
                      .row
                        .col-xl-12.box-col-12.des-xl-100 
                          .row
                            .col-xl-12.des-xl-100.h-100
                              .card.profile-greeting
                                .card-header
                                  .header-top
                                .card-body.text-start.p-t-0.d-flex.w-100.justify-content-between
                                  .right-welcome-text
                                    h3.font-light صباح الخير، خالد  !
                                    p.text-start.mb-3 آخر تسجيل دخول : 10/10/2022 - 10:10
                                    p.text-start للحصول على أحدث البيانات انقر على " تحديث " 
                                  .left-welcome-text
                                    button.btn.btn-light.mt-5 تحديث
                                .confetti
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .confetti-piece
                                  .code-box-copy
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white عام
                            .card-body.row.justify-content-center.pb-0
                              .row
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 4
                                          p
                                            | عدد التراخيص
                                        i(data-feather='file-text')
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 218
                                          p
                                            | أيام سريان الترخيص
                                        i(data-feather='calendar')
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 78%
                                          p
                                            | نسبة الحوكمة
                                        i(data-feather='percent')
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 53
                                          p
                                            | عدد أعضاء اللجنة العمومية
                                        i(data-feather='users')
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 18
                                          p
                                            | عدد اعضاء مجلس الادارة
                                        i(data-feather='user-check')
                                .col-12.col-xs-6.col-sm-4.col-md-4.mt-2
                                  .card.bg-primary
                                    .card-body
                                      .media.faq-widgets
                                        .media-body
                                          h5 24
                                          p
                                            | عدد الموظفين
                                        i(data-feather='user')
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white البرامج والمشاريع
                            .card-body
                              .row
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart2
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart3
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart4
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart5
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart6
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white الطلبات
                            .card-body
                              .row
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart1-1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart2-1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart3-1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart4-1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart5-1
                                .col-12.col-xs-6.col-sm-4.col-md-4.col-lg-4.col-xl-4.col-xxl-2.mt-2
                                  canvas#chart6-1
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التطوع
                            .card-body.row.justify-content-center.pb-0
                              .row
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0.mb-3
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          <i data-feather="clock"></i>
                                        .media-body
                                          span.m-0 ساعات التطوع
                                          h4.mb-0.counter 78
                                          i.icon-bg(data-feather='clock')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0.mb-3
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="check")
                                        .media-body
                                          span.m-0 الفرص المنجزة
                                          h4.mb-0.counter 32
                                          i.icon-bg(data-feather='check')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0.mb-3
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather='git-pull-request')
                                        .media-body
                                          span.m-0 الفرص المسجلة
                                          h4.mb-0.counter 16
                                          i.icon-bg(data-feather='git-pull-request')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0.mb-3
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather='users')
                                        .media-body
                                          span.m-0 عدد المتطوعين
                                          h4.mb-0.counter 170
                                          i.icon-bg(data-feather='users')
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white التبرعات
                            .card-body.row.pb-3.justify-content-center
                              .row
                                .col-sm-12.col-xl-12.col-lg-12
                                  .browser-widget
                                    .media
                                      .media-body.row
                                        .col-sm-4.card.o-hidden.border-0.mb-0.mt-2
                                          .card.income-card.card-primary.mb-0                                    
                                              .card-body.text-center.py-1
                                                .round-box.mb-2
                                                  i.icon-bg.light-dark(data-feather='package' style="fill:none;")
                                                h5 127
                                                p عملية تبرع
                                                .parrten
                                                  i.icon-bg.text-light(data-feather='package' style="fill:none;")
                                        .col-sm-4.card.o-hidden.border-0.mb-0.mt-2
                                          .card.income-card.card-primary.mb-0                                 
                                              .card-body.text-center.py-1                                   
                                                .round-box.mb-2
                                                  span ر.س
                                                h5 12,550.00
                                                p إجمالي التبرعات
                                                .parrten
                                                  span ر.س
                                        .col-sm-4.card.o-hidden.border-0.mb-0.mt-2
                                          .card.income-card.card-primary.mb-0                                 
                                              .card-body.text-center.py-1                                   
                                                .round-box.mb-2
                                                  i.icon-bg.text-light-dark(data-feather='loader' style="fill:none;")
                                                h5 37
                                                p عدد الفرص
                                                .parrten
                                                  i.icon-bg.text-light(data-feather='loader' style="fill:none;")
                        .col-xl-12.box-col-12.des-xl-100.dashboard-sec
                          .card.card-absolute
                            .card-header.bg-primary.shadow
                              h5.text-white المنح
                            .card-body.row.justify-content-center
                              .row
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          <i data-feather="shopping-bag"></i>
                                        .media-body
                                          span.m-0 عملية منح
                                          h4.mb-0.counter 12
                                          i.icon-bg(data-feather='shopping-bag')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="dollar-sign")
                                        .media-body
                                          span.m-0 إجمالي المنح
                                          h4.mb-0.counter 96046 ر.س
                                          i.icon-bg(data-feather='dollar-sign')
                                .col-sm-6.col-xl-3.col-lg-3
                                  .card.o-hidden.border-0
                                    .bg-primary.b-r-4.card-body
                                      .media.static-top-widget
                                        .align-self-center.text-center
                                          i(data-feather="package")
                                        .media-body
                                          span.m-0 إجمالي المنح العيني
                                          h4.mb-0.counter 935
                                          i.icon-bg(data-feather='package')
                    // Container-fluid Ends
                include ../../components/footer        
        include ../../components/footer-files