- var theme_customizer      = false;
- var photo_swipe           = false;
- var sidebar               = true;
- var scrollbar             = true;

doctype html
doctype html
html(lang='ar' dir="rtl")
    include ../../components/header-files
    body.rtl.dark-sidebar
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper.modern-sidebar
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                      .page-header
                        .row
                          .col-sm-6
                              h3
                                | طلبات التأسيس
                              ol.breadcrumb
                                li.breadcrumb-item
                                  a(href='ind-index.html')
                                   | الرئيسية
                                li.breadcrumb-item التأسيس   
                                li.breadcrumb-item.active 'طلبات التأسيس'
                    // Container-fluid starts
                    .container-fluid
                      .user-profile.social-app-profile
                        .row 
                          .col-sm-12.box-col-12
                            .card                             
                              .social-tab
                                ul#top-tab.nav.nav-tabs(role='tablist')
                                  li.nav-item
                                    a#top-timeline.nav-link.active(data-bs-toggle='tab', href='#timeline', role='tab', aria-controls='timeline', aria-selected='true')
                                      i(data-feather="check")
                                      | مقبولة
                                  li.nav-item
                                    a#top-about.nav-link(data-bs-toggle='tab', href='#about', role='tab', aria-controls='about', aria-selected='false')
                                      i(data-feather="x")
                                      | مرفوضة                                
                                  li.nav-item
                                    a#top-friends.nav-link(data-bs-toggle='tab', href='#friends', role='tab', aria-controls='friends', aria-selected='false')
                                      i(data-feather="clock")
                                      | غير مكتملة
                                  li.nav-item
                                    a#top-photos.nav-link(data-bs-toggle='tab', href='#photos', role='tab', aria-controls='photos', aria-selected='false')
                                      i(data-feather="file-text")
                                      | جميع الطلبات
                                .input-group
                                  input(type="text" class="form-control" placeholder="بحث عن طلب")
                                  span.input-group-text 
                                    i.fa.fa-search
                                .form-group.mb-0.me-0
                                  a.btn.btn-primary(href="ind-new-request.html") 
                                    i(data-feather="plus-square") 
                                    | طلب تأسيس جديد
                                    
                        #top-tabContent.tab-content
                          .tab-pane.fade.show.active#timeline(role='tabpanel', aria-labelledby='timeline')
                            .row
                              .col-xxl-4.col-lg-6
                                .project-box.card
                                  span.badge.badge-success مقبولة
                                  h6 تأسيس جمعية أهلية
                                  .media
                                    .media-body
                                      p 17/10/2022 - 10:05 م
                                  .row.details
                                    .col-4
                                      span اسم الجمعية 
                                    .col-8.font-primary جمعية التحول التقني 
                                    .col-4 
                                      span تاريخ الإصدار
                                    .col-8.font-primary 20/10/2022
                                    .col-4 
                                      span تاريخ الانتهاء
                                    .col-8.font-primary 15/11/2022
                                  .form-group.mb-0.me-0
                                    a.btn.btn-secondary(href="ind-new-request.html") التفاصيل
                          .tab-pane.fade#about(role='tabpanel', aria-labelledby='about')

                          .tab-pane.fade#friends(role='tabpanel', aria-labelledby='friends')

                          .tab-pane.fade#photos(role='tabpanel', aria-labelledby='photos')

                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
