- var status_toggle = (sidebar_open ? undefined : 'checked');
// Page Sidebar Start
header.main-nav
  .sidebar-user.text-center
    a(href="javascript:void(0)").setting-white
      i(data-feather='settings')
    img.img-90.rounded(src='../assets/images/dashboard/2.png', alt='')
    .badge-bottom
    a.mb-2(href="user-profile.html")
      h6.my-2.f-14.f-w-600 جمعية التحول التقني
    p.mb-1.font-roboto أحمد منصور
    p.mb-0.font-roboto آخر تسجيل دخول : 10/10/2022 - 10:10

  nav
    .main-navbar
      .left-arrow#left-arrow
        i(data-feather='arrow-left')
      #mainnav            
        ul.nav-menu.custom-scrollbar
          li.back-btn
            .mobile-back.text-end
              span عودة
              i.fa.fa-angle-right.ps-2(aria-hidden='true')
          li.dropdown
            a.nav-link.menu-title.link-nav(href='ngo-index.html')
              i(data-feather='home')
              span لوحة المعلومات        
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='edit')
              span التأسيس
            ul.nav-submenu.menu-content
              li
                a(href='ngo-new-request.html')
                  | تقديم طلب تأسيس
              li
                a(href='ngo-requests.html') طلبات التأسيس 
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='edit')
              span المنح
            ul.nav-submenu.menu-content
              li
                a(href='ngo-new-gives.html')
                  | تقديم طلب منح
              li
                a(href='ngo-gives.html') طلبات المنح 

      .right-arrow#right-arrow
        i(data-feather='arrow-right')
// Page Sidebar Ends