- var status_toggle = (sidebar_open ? undefined : 'checked');
// Page Sidebar Start
header.main-nav
  .sidebar-user.text-center
    a(href="javascript:void(0)").setting-white
      i(data-feather='settings')
    img.img-90.rounded(src='https://www.tawasal.org/wp-content/uploads/2019/06/logo-colour-_1-8-49x47.png', alt='')
    .badge-bottom
    a.mb-2(href="user-profile.html")
      h6.my-2.f-14.f-w-600 جمعية تواصل
    p.mb-1.font-roboto رقم الترخيص: 123456789
    

  nav
    .main-navbar
      .left-arrow#left-arrow
        i(data-feather='arrow-left')
      #mainnav            
        ul.nav-menu.custom-scrollbar
          li.back-btn
            .mobile-back.text-end
              span عودة
              i.fa.fa-angle-right.ps-2(aria-hidden='true')
          li.dropdown
            a.nav-link.menu-title.link-nav(href='index.html')
              i(data-feather='home')
              span لوحة المعلومات        
          li.dropdown
            a.nav-link.menu-title.link-nav(href='javascript:void(0)')
              i(data-feather='globe')
              span MySite 
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='server')
              span الدعم الحكومي
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | تقديم طلب منح
              li
                a(href='#') طلبات المنح 
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='edit')
              span المنح والحوافز
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | تقديم طلب منح
              li
                a(href='#') طلبات المنح
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='file-text')
              span التراخيص والوثائق
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | اصدار ترخيص
              li
                a(href='#') تجديد ترخيص
              li
                a(href='#') شطب ترخيص
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='user-check')
              span  الأعضاء
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | أضافة عضو 
              li
                a(href='#') الاعضاء
              li
                a(href='#') العضويات
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='users')
              span  الموظفين
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | أضافة موظف 
              li
                a(href='#') الموظفين
              li
                a(href='#') الصلاحيات
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='share-2')
              span البرامج والمشاريع
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | تقديم الطلبات
              li
                a(href='#') طلبات البرامج والمشاريع
              li
                a(href='#') رفع تقرير الإغلاق
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='dollar-sign')
              span الشؤون المالية
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | مكتب المحاسب القانوني
              li
                a(href='#') اعتماد القوائم المالية
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='grid')
              span الممكنات
            ul.nav-submenu.menu-content
              li
                a(href='#')
                  | سبل
              li
                a(href='#') التحول التقني
              li
                a(href='#') المسؤولية المجتميعة
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='activity')
              span التقارير
          li.dropdown
            a.nav-link.menu-title(href='javascript:void(0)')
              i(data-feather='crosshair')
              span الحوكمة
          li.dropdown
            a.nav-link.menu-title.link-nav(href='#')
              i(data-feather='sliders')
              span خدمات المركز
                
          li.dropdown
            a.nav-link.menu-title.link-nav(href='javascript:void(0)')
              i(data-feather='headphones')
              span التواصل 
          li.dropdown
            a.nav-link.menu-title.link-nav(href='javascript:void(0)')
              i(data-feather='alert-octagon')
              span الشكاوى والاعتراضات  
          li.dropdown
            a.nav-link.menu-title.link-nav(href='search.html')
              i(data-feather='search')
              span البحث   
          li.dropdown
            a.nav-link.menu-title.link-nav(href='javascript:void(0)')
              i(data-feather='map-pin')
              span جولة


      .right-arrow#right-arrow
        i(data-feather='arrow-right')
// Page Sidebar Ends